@model KisanWeighining.Models.KisanModel.tbl_PurchaseEntry_Master_Paymentss
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/Rajfile/jquery.dataTables.js"></script>
<link href="~/Content/Rajfile/responsive.dataTables.css" rel="stylesheet" />
<link href="~/Content/Rajfile/jquery.dataTables.css" rel="stylesheet" />

<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }

    .form-linesed {
        position: relative;
        border-bottom: 1px solid #ddd;
    }
     .form-control {
        display: inline !important;
        width: 50% !important;
    }

    .labelmod {
        width: 28%;
    }

    .checkboxsd {
        margin: -1% 0% 1% 4% !important;
    }

    .check {
        width: 30%;
        height: 22px !important;
        margin-top: -64% !important;
        margin-left: 37% !important;
    }
</style>
<section class="content">
    <div class="row clearfix">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                       Payment Summary
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">                       
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>Invoice No</th>
                                        <th>Payment Mode</th>
                                        <th>Holder Name</th>
                                        <th>Farmer Name</th>
                                        <th>Details</th>
                                        <th>Payment Date</th>
                                        <th>Clearing Date</th>
                                        <th>Amount Paid</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="pop">
    <div class="col-sm-12">
        @Html.Hidden("payid", null, new { })
        <label class="labelmod"> Return Date </label>: @Html.TextBox("returndate", null, new { @class = "form-control vs", placeholder = "Enter Return Date", @style = "width:90% !important;margin-bottom:1%;" })
        <label class="labelmod"> Return Amount </label>: @Html.TextBox("returnAmt", null, new { @class = "form-control groupOfTexbox", placeholder = "Enter Return Amonut",@readonly="readonly", @style = "width:90% !important;margin-bottom:1%;" })       
        <input type="button" onclick="savertgs()" value="Save" class="btn-primary" style="margin-left:30%;" />
    </div>
</div>
<script type="text/javascript">
    var sendarray = [];
    $(document).ready(function () {
        $("#pop").hide();
        $('#returndate').datepicker();
        $('.groupOfTexbox').keypress(function (event) {
            return isNumber(event, this)
        });
    })
    $('.js-basic-example').DataTable({
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once

        "ajax": {
            "url": "/PooldataMachine/CompletedPaymentList",
            "type": "POST",
            "datatype": "json"
        },
        "columns": [
                { "data": "pkid", "name": "pkid", "orderable": false, "autoWidth": true },
                { "data": "invoiceno", "name": "invoiceno", "orderable": false, "autoWidth": true },
                    { "data": "paymenttype", "name": "paymenttype", "autoWidth": true },                   
                       {
                           "data": "holdername", "name": "partyname", "autoWidth": true, "render": function (data, type, full, meta, name) {
                               return '' + getname(full) + '';
                           }
                       },
                         { "data": "farmername", "name": "farmername", "autoWidth": true },
                      { "data": "details", "name": "details", "autoWidth": true },
                       {
                           "data": "paymentdate", "render": function (data, type, full, meta) {
                               return '' + formatJsonDate(data) + '';
                           }
                       },
                        {
                            "data": "clearingdate", "render": function (data, type, full, meta) {
                                return '' + formatJsonDate(data) + '';
                            }
                        },
                        { "data": "amountpaid", "name": "amountpaid", "autoWidth": true },
                         {
                             "data": "pkid", "name": "amountpaid", "orderable": false, "render": function (data, type, full, meta, name) {
                                 if (full.paymenttype != "Cash") {
                                  return  '<a href="#" name=' + full.amountpaid + ' onclick="showdialog(\'' + data + ',' + full.amountpaid + '\')">Return</a> | <a href="/PooldataMachine/GetHoleDetails?id=' + data + '">Detail Info</a> ';
                                 }
                                 else {
                                     return '<a href="/PooldataMachine/GetHoleDetails?id=' + data + '">Detail Info</a> ';
                                 }
                             }
                         }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        }
    })
    function getname(cname) {       
        var rtgs = cname.holdername;
        var Cheq = cname.partyname;
        var cash = cname.casgpaidto;
        if (rtgs != "") {
            return rtgs;
        }
        else if (cash != "") {
            return cash;
        }
        else if (Cheq != "") {
            return Cheq;
        }
        else { return ""; }
    }
    function formatJsonDate(jsonDate) {
        if (jsonDate == null) {
            return "";
        }
        else {
            var dateString = jsonDate.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return date;
        }
    };
    function showdialog(cname) {
        debugger;
        var array = cname.split(",");
        $("#payid").val(array[0]);
        $("#returnAmt").val(array[1]);        
        $('.vs').each(function () {
            $(this).val('');
        });
        $("#pop").dialog({
            height: 180,
            width: 500,
            modal: true,
            title: "Return Details"
        })
    }
    function savertgs() {
        debugger;
        var lines = new Array();
        lines.push($("#payid").val());
        lines.push($("#returndate").val());
        lines.push($("#returnAmt").val());
        $.ajax(
    {
        url: '/PooldataMachine/UpdateReturn/',
        type: 'POST',
        data: { 'poopupdatasave': lines },
        dataType: 'json',
        async: false,
        success: function (data) {
            if (data == "success") {
                jAlert("Data Save Successfully", "SystemAlert")
                location.reload();
            } else {
                jAlert("Data Save Failed enter all fields", "SystemAlert")
            }
        }
    });

    }
</script>
