@model KisanWeighining.Models.KisanModel.tbl_productMasterss
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Create New Product</h2>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Create Product
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        @using (Html.BeginForm("ProductMaster", "SystemMaster", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            <div class="col-sm-5">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @Html.HiddenFor(x => x.pkid)
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Product Name<span style="color: red">*</span></label>
                                        @Html.TextBoxFor(x => x.productname, new { @class = "form-control", placeholder = "Enter Product Name", @required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Product Description<span style="color: red">*</span></label>
                                        @Html.TextBoxFor(x => x.productdescription, new { @class = "form-control", placeholder = "Enter Product Description", @required = "required" })
                                    </div>
                                </div>
                                <input type="submit" value="Save" id="but" class="btn-primary" />
                            </div>

                        }

                        <div class="col-sm-7">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>Product Name</th>
                                        <th>Product Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/Theam/plugins/jquery/jquery.js"></script>
<script src="~/Content/Theam/js/admin.js"></script>
<script src="~/Content/Theam/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#pkid").val() != "")
        { $("#but").val("Update") }
    })
    $('.js-basic-example').DataTable({
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once

        "ajax": {
            "url": "/SystemMaster/ProductList",
            "type": "POST",
            "datatype": "json"
        },
        "columns": [
                { "data": "pkid", "name": "pkid", "orderable": false, "autoWidth": true },
                { "data": "productname", "name": "productname", "autoWidth": true },
                  { "data": "productdescription", "name": "productdescription", "autoWidth": true },
                {
                    "data": "pkid", "orderable": false, "render": function (data, type, full, meta) {
                        return '<a href=/SystemMaster/ProductMaster?_id=' + data + '>Edit</a>';
                    }
                }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        }
    })     
</script>
