<style type="text/css">
    .table-striped > tbody > tr:nth-of-type(odd) {
        background: #FCF8E3;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Truck Entry</h2>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                       Total Delivery List  
                    </h2>
                </div>
             
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable " style="width: 100%;">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>WB Slip No</th>
                                <th>Farmer Name</th>
                                <th>Truck No</th>
                                <th>In Date</th>
                                <th>Out Date</th>
                                <th>Gross Weight</th>
                                <th>Tair Weight</th>
                                <th>Net Weight</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Content/Theam/plugins/jquery/jquery.js"></script>
<script src="~/Content/Theam/plugins/jquery-datatable/jquery.dataTables.js"></script>
<link href="~/Content/Theam/plugins/jsalert/jquery.alerts.css" rel="stylesheet" />
<script src="~/Content/Theam/plugins/jsalert/jquery.alerts.js"></script>
<script type="text/javascript">

    $('.js-basic-example').DataTable({
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once

        "ajax": {
            "url": "/PooldataMachine/GetdeliveryList",
            "type": "POST",
            "datatype": "json"
        },
        "columns": [
                { "data": "pkid", "name": "pkid", "orderable": false, "autoWidth": true },
                  { "data": "sleepno", "Name": "sleepno", "autoWidth": true },
                { "data": "farmer", "Name": "farmer", "autoWidth": true },
                { "data": "truckno", "Name": "truckno", "autoWidth": true },
                {
                    "data": "inttime", "orderable": false, "render": function (data, type, full, meta) {
                        return '' + formatJsonDate(data) + '';
                    }
                },
                {
                    "data": "outtime", "orderable": false, "render": function (data, type, full, meta) {
                        return '' + formatJsonDate(data) + '';
                    }
                },
                  { "data": "grossweight", "Name": "grossweight", "autoWidth": true },
                   { "data": "tairweight", "Name": "tairweight", "autoWidth": true },
                  { "data": "netweight", "Name": "netweight", "autoWidth": true },
                {
                    "data": "pkid", "orderable": false, "render": function (data, type, full, meta) {
                        return '<i onclick="PurchaseInfor(' + data + ')" data_id="' + data + '" class="glyphicon glyphicon-edit" style="cursor:pointer;margin:0% 10% 0% 12%;" title="Add Information"></i> | <span class="glyphicon glyphicon-save" onclick="Getpdf(' + data + ')" style="cursor:pointer;margin:0% 10% 0% 12%;" title="Generate Bill"></span>';
                    }
                }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        }
    })
    function formatJsonDate(jsonDate) {
        var dateString = jsonDate.substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var date = day + "/" + month + "/" + year;
        return date;
    };
    function PurchaseInfor(cname) {
        window.location.href = "/PooldataMachine/PurchaseDetails?id=" + cname;
    }
    function Getpdf(cname)
    {
        window.location.href = "/PooldataMachine/GetPDF_Purchase?invoiceid=" + cname;       
    }
</script>

<style type="text/css">
    .page-loader-wrapper {
        opacity: .6;
        background: black;
    }
</style>
